@model JustBasic.Web.Models.PageViewModel
@{
    ViewBag.Title = @Model.Name;
    ViewBag.MetaKeyword = @Model.Name;
    ViewBag.MetaDescription = Model.Name;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="page pb30">
    <div class="container">
        <div class="fix-breadcrumb ">
            <ol class="breadcrumb breadcrumb-arrow hidden-sm hidden-xs">
                <li><a href="/" target="_self">Trang chủ</a></li>
                <li class="active"><span>@Model.Name</span></li>

            </ol>
        </div>
        <div id="layout-page">
            <div class="main-title2 text-center">
                <h1>@Model.Name</h1>
            </div>
            <div class="content-page">
                @Html.Raw(Model.Content)
            </div>
        </div>
        
        <div class="clearfix"> </div>
    </div>
</div>